*{
    box-sizing: border-box;
    font-family: 'VT323', monospace;
}
.containerHealth{
    position: relative; 
    display: inline-block;
}
.barHealth{
    position: absolute; 
    display: flex; 
    width: 100%; 
    align-items: center; 
    padding: 20px;
    background: url(../assets/bg/barra-vidas.png) no-repeat center center;
}


#temporizador{
    /*background-color: black; */
    height: 50px; 
    width: 100px; 
    flex-shrink: 0; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 65px;
    color: white;
    /*border: 4px solid white;
    border-radius: 10px;*/
}
#background{
    position: absolute; 
    color:white; 
    align-items: center; 
    justify-content: center; 
    top: 0; 
    bottom: 0; 
    right: 0; 
    left: 0; 
    display: none;
    background-color: #0000008f;
}
#textoPantalla{
    position: absolute; 
    color:white; 
    align-items: center; 
    justify-content: center; 
    top: 0; 
    bottom: 0; 
    right: 0; 
    left: 0; 
    display: none; 
    font-size: 70px; 
    background: url(../assets/fondo/brush-stroke.svg) center center no-repeat;
    background-size: 80%;
}
#back{
    /*position: absolute;*/
    position: absolute; 
    height: 20px; 
    width: 80px;
    top: 5px;
    bottom: 0;
    right: 0;
    left: 0;
    background: url(../assets/bg/retroceder.png) center center no-repeat;
    border: none;
}
/*index.html*/

#contenedor {
    height: 576px;
    width: 1024px;
    color: white;
    display: flex;
    background: url(/assets/bg/bg04.jpg) no-repeat ; /*fixed -> efecto*/
}
.principal{
    /*display:block;*/
    width: 100%;
    height: 100%;
}
.top{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1024px;
}
#btnplay{
    /*centrar*/
    width: 50px;
    height: 40px;
    background: transparent;
    padding: 0;
    /*boton sin estilos*/
    border: none;

}
    /*centrar la etiqueta h1 dipley flex*/
.descripcion{
    position: relative;
    left: 240px;
    font-size: 20px;
    /*fondo ajustado al tamaño del texto*/
    background-color: rgba(150, 150, 150, 0.753);
    padding: 5px;
    border-radius: 10px;
    margin: 0;
    
}
.titulo {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 65px;
    margin: 0;
    z-index: 40;
}
.imagenes{
    width: 100%;
    height: 350px;
}
.img1{
    position: relative;
    width: 400px;
    top: 10px;
    right: 200px;
    z-index: 20;
}
.img2{
    position: relative;
    width: 650px;
    left: 372px;
    bottom: 452px;
    z-index: 10;

}
/*boton start en css*/
.btnJugar{
    display: inline-block;
    position: relative;
    z-index: 30;
    width: 200px;
    left: 400px;
    top:50px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-shadow: rgb(255, 0, 0) 0px 0px 10px;
    font-weight: bold;
    font-size: 34px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 30px;
    text-align: center;
    border: none;
    clip-path: 
        polygon(
            7% 0%, 
            93% 0, 
            100% 50%, 
            93% 100%, 
            7% 100%, 
            0 50%
        );
    background-color: #000000;
  /*   background-image: radial-gradient(200% 70% at center 20%, 
        rgba(48,44,45,1) -30%, 
        rgba(50,46,47,1) 49%, 
        rgba(22,18,19,1) 50%, 
        rgba(22,18,19,1) 150%); */
    background-image: radial-gradient(200% 70% at center 20%, 
        rgb(255, 255, 255) -30%, 
        rgb(194, 190, 191) 49%, 
        rgb(41, 41, 41) 50%, 
        rgb(34, 32, 33) 150%);
    background-repeat: no-repeat;
    transition: background-position-y ease-in-out 250ms;
}
   
.btnJugar:hover {
    background-position-y: -50px;
}
   
.btnJugar:active {
    transform: scale(0.99);
}

 /*footer*/
.footer {
    position: absolute;
    top: 550px;
    left: 230px;
    font-size: 18px;
    z-index: 40;
}


